DATABASE_URL="postgresql://neondb_owner:npg_oiyAC9GTjw4x@ep-square-lake-atajgn6t.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"
BETTER_AUTH_SECRET="b4c734ffefa23e2010f03cbbb1e0f4172c31877274034359e5f5b068540b30eb"
BETTER_AUTH_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME="qwksi2dc"
CLOUDINARY_API_KEY="168672487124568"
CLOUDINARY_API_SECRET="QMNP0N5qPoPk6M8P1BBbLQFcm4k"
RESEND_API_KEY="re_HyG8Gfm5_MVr39mtgK5zp4RrXEEnKyfze"
NOTICE_FROM_EMAIL="ResidentFlow AI <notices@example.com>"
